In [1]:
!pip install sqlalchemy pymysql pandas

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.23-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: pandas in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (2.1.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.2-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.7 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/miguel/anaconda3/envs/empleados/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.23-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 1.4 MB/s eta 0:00:0000:0100:010m
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 757.5 kB/s eta 0:00:00--:--
Downloading greenlet-3.0.2-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (621 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 621.0/621.0 kB 2.0 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.0.2 pymysql-1.1.0 sqlalchemy-2.0.23

To transform the given JSON data into a relational database that respects the second and third normal forms, we need to identify entities, attributes, and relationships between them. In this case, we can identify the following entities:

    Employees
    Job Roles
    Education Fields

These SQL statements create three tables: Employees, JobRoles, and EducationFields. The JobRoles table has a foreign key relationship with the EducationFields table. The Employees table contains attributes related to individual employees, and the JobRoles table contains information about job roles and their associated education fields.

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Age INT,
    Attrition VARCHAR(3),
    BusinessTravel VARCHAR(255),
    DistanceFromHome INT,
    Education INT,
    EnvironmentSatisfaction INT,
    Gender VARCHAR(1),
    JobInvolvement INT,
    JobLevel INT,
    JobRole VARCHAR(255),
    JobSatisfaction INT,
    MaritalStatus VARCHAR(255),
    MonthlyIncome FLOAT,
    MonthlyRate INT,
    NumCompaniesWorked INT,
    OverTime VARCHAR(3),
    PercentSalaryHike INT,
    PerformanceRating FLOAT,
    RelationshipSatisfaction INT,
    StockOptionLevel INT,
    TotalWorkingYears FLOAT,
    TrainingTimesLastYear INT,
    WorkLifeBalance FLOAT,
    YearsAtCompany INT,
    YearsSinceLastPromotion INT,
    YearsWithCurrManager INT,
    DateOfBirth INT,
    RemoteWork VARCHAR(3)
);

-- JobRoles Table
CREATE TABLE JobRoles (
    JobRole VARCHAR(255) PRIMARY KEY,
    EducationField VARCHAR(255),
    FOREIGN KEY (EducationField) REFERENCES EducationFields(EducationField)
);

-- EducationFields Table
CREATE TABLE EducationFields (
    EducationField VARCHAR(255) PRIMARY KEY
);

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Your MySQL database connection parameters
db_username = 'your_username'
db_password = 'your_password'
db_host = 'localhost'
db_name = 'your_database_name'

# Load JSON data into a DataFrame
json_data = {
    # ... (your JSON data)
}
df = pd.DataFrame(json_data)

# SQLAlchemy connection string
connection_str = f"mysql+pymysql://{db_username}:{db_password}@{db_host}/{db_name}"

# Create SQLAlchemy engine
engine = create_engine(connection_str)

# Insert data into MySQL database
df.to_sql('your_table_name', con=engine, if_exists='replace', index=False)

print("Data inserted successfully.")