To transform the given JSON data into a relational database that respects the second and third normal forms, we need to identify entities, attributes, and relationships between them. In this case, we can identify the following entities:

    Employees
    Job Roles
    Education Fields

These SQL statements create three tables: Employees, JobRoles, and EducationFields. The JobRoles table has a foreign key relationship with the EducationFields table. The Employees table contains attributes related to individual employees, and the JobRoles table contains information about job roles and their associated education fields.

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Age INT,
    Attrition VARCHAR(3),
    BusinessTravel VARCHAR(255),
    DistanceFromHome INT,
    Education INT,
    EnvironmentSatisfaction INT,
    Gender VARCHAR(1),
    JobInvolvement INT,
    JobLevel INT,
    JobRole VARCHAR(255),
    JobSatisfaction INT,
    MaritalStatus VARCHAR(255),
    MonthlyIncome FLOAT,
    MonthlyRate INT,
    NumCompaniesWorked INT,
    OverTime VARCHAR(3),
    PercentSalaryHike INT,
    PerformanceRating FLOAT,
    RelationshipSatisfaction INT,
    StockOptionLevel INT,
    TotalWorkingYears FLOAT,
    TrainingTimesLastYear INT,
    WorkLifeBalance FLOAT,
    YearsAtCompany INT,
    YearsSinceLastPromotion INT,
    YearsWithCurrManager INT,
    DateOfBirth INT,
    RemoteWork VARCHAR(3)
);

-- JobRoles Table
CREATE TABLE JobRoles (
    JobRole VARCHAR(255) PRIMARY KEY,
    EducationField VARCHAR(255),
    FOREIGN KEY (EducationField) REFERENCES EducationFields(EducationField)
);

-- EducationFields Table
CREATE TABLE EducationFields (
    EducationField VARCHAR(255) PRIMARY KEY
);